@import "./nv.d3.less";
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 100% !important;
  stroke-opacity: 100% !important;
}

.nvtooltip.xy-tooltip {
  max-width: 400px;
  word-wrap: break-word;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.nvtooltip .footer {
  font-size: 8pt; 
  color: gray;
  text-align: center;
}

.nvtooltip h3 {
  font-size: 12pt;
}

.chart-div {
  margin: 10px;
}

.nv-goal-lbl:extend(.upiq-small-chart) {
  //font-size: 7pt;
  stroke-opacity: 0;
}

.upiq-small-chart {
  font-family: 'silkscreennormal', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6pt;
}

svg text :extend(.upiq-small-chart) {}

.nv-axis text {
  font-size: 9pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nv-y.nv-axis .nvd3.nv-wrap.nv-axis path.domain {
  stroke: dimgray;
}

.nv-y.nv-axis .nvd3.nv-wrap.nv-axis .tick:nth-last-of-type(1) line {
  stroke-width: 1px;
  stroke: dimgray;
}

.nv-y.nv-axis .nvd3.nv-wrap.nv-axis .tick:nth-of-type(1) line {
  stroke-width: 1px;
  stroke: dimgray;
}

.nv-axisMaxMin {}

.nv-y.nv-axis .nvd3.nv-wrap.nv-axis .tick:not(:nth-of-type(1)):not(:nth-last-of-type(1)) line::before {
  content: "";
}