.nvtooltip.xy-tooltip {
  max-width: 400px;
  word-wrap: break-word;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 100% !important;
  stroke-opacity: 100% !important;
}

.tooltipFooter {
  font-size: 8pt; 
  color: gray;
  text-align: center;
}

.nvtooltip > h3 {
  font-size: 12pt;
}